.body{
    background-color: blue;

}  
.curriculo img{
    float: left;
    border: 1px solid blue;

}     

h1 {
    background-color: #3b3b3b;
    color: #dddddd;
    padding: 15px;
    text-align: center;
}
h2 {
    border-top: 1px solid #cccccc;
    border-bottom: 3px solid #cccccc;
    background-color: #dddddd;
    padding-left: 5px;
    font-weight: normal;
    text-align: center;
}

.curriculo h3 {
 border-top: 1px;
 border-bottom: 1px;
 padding-left: 5px;
 margin: 0 0 0 -15px;
 font-weight: normal;
 text-align: justify;

}

h4 {
font-weight: normal;
text-align: justify;
padding-left: 5px;
}

li{
margin: 3px; padding: 3;
}